# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/
/.cproject
/.project
/.settings/
**/.ptp*
/dist/
/*egg*/
/python/*egg*
/*tmp*/
/wheelhouse/
**/.ipynb_checkpoints
compile_commands.json
