[submodule "tpls/cpr"]
	path = tpls/cpr
	url = https://github.com/ornl-qci/cpr.git
[submodule "tpls/boost-cmake"]
	path = tpls/boost-cmake
	url = https://github.com/ornl-qci/boost-cmake
[submodule "tpls/cppmicroservices"]
	path = tpls/cppmicroservices
	url = https://github.com/ornl-qci/cppmicroservices
[submodule "quantum/plugins/ibm/accelerator/qiskit-terra"]
	path = quantum/plugins/ibm/accelerator/qiskit-terra
	url = https://github.com/amccaskey/qiskit-terra
[submodule "quantum/plugins/dwave/embedding/minorminer"]
	path = quantum/plugins/dwave/embedding/minorminer
	url = https://github.com/dwavesystems/minorminer
[submodule "xacc/optimizer/nlopt-optimizers/nlopt"]
	path = xacc/optimizer/nlopt-optimizers/nlopt
	url = https://github.com/stevengj/nlopt
[submodule "quantum/plugins/dwave/tpls/legacy-sapi-clients"]
	path = quantum/plugins/dwave/tpls/legacy-sapi-clients
	url = https://github.com/ornl-qci/legacy-sapi-clients
[submodule "tpls/triq"]
	path = tpls/triq
	url = https://github.com/ORNL-QCI/TriQ.git
[submodule "tpls/qsim"]
	path = tpls/qsim
	url = https://github.com/ORNL-QCI/qsim.git
[submodule "tpls/pybind11"]
	path = tpls/pybind11
	url = https://github.com/pybind/pybind11.git
