[submodule "tpls/cpr"]
	path = tpls/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "tpls/boost-cmake"]
	path = tpls/boost-cmake
	url = https://github.com/ornl-qci/boost-cmake
[submodule "tpls/cppmicroservices"]
	path = tpls/cppmicroservices
	url = https://github.com/ornl-qci/cppmicroservices
